body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  color: #434455;
  background-color: #ffffff;
  --body-fonts: 'Roboto', 'Raleway', sans-serif;
}
/* Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo_span {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.nav_header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_header.current {
  color: #404bbf;
}
.nav_header.current:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: translate(-50% -50%);
}
.nav_header:hover,
.nav_header:focus {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
.contacts_header {
  font-style: normal;
}
.email_header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email_header:hover,
.email_header:focus {
  color: #404bbf;
}
/* Hero */
.hero_main {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.hero_text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}
.button_hero {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_hero:hover,
.button_hero:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* Main */
.benefits_paragrah {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* Images_section */
.images_main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 120px;
}
.images_descrip {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
/* Team-main */
.team_main {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team_head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list_team {
  background-color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list_team_name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.list_team_parah {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* Footer */
.footer_main {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo_span_footer {
  color: #f4f4fd;
}
.footer_par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-size: 16px;
  width: 264px;
}
/* Second page */
.buttons {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.img_head_hame {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.port_parah {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

img {
  display: block;
  width: 100%;
}
/* 3 homework */
.header_index {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div-index {
  display: flex;
}
/* container default */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-list-index {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-nav-index {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.address-list-index {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.main-contant-index {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-list-index {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.main-list-index-inside {
  width: calc((100% - 48px) / 3);
}
.imagine-list-main {
  display: flex;
  gap: 24px;
}
.imagine-list-items {
  margin: 0;
  padding: 0;
  width: calc((100% - 48px) / 3);
}
.list-team-index {
  display: flex;
  gap: 24px;
}
.team-name-index {
  padding: 32px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}
/* Portfolio */
.images_main_portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.catalog {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-img-descp {
  width: calc((100% - 48px) / 3);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-top: 8px;
}
.icon-name {
  width: 40px;
  height: 40px;
}
.url-social-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.url-social-media:hover,
.url-social-media:focus {
  background-color: #404bbf;
}
.icons-socia-media {
  fill: #f4f4fd;
}
/* 5 section */
.supporters-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-main {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-customer {
  list-style: none;
  display: flex;
  gap: 24px;
}
.customer-list-content {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.icons-customers {
  fill: currentColor;
}
.footer-cont {
  display: flex;
  align-items: baseline;
}
.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.logo-and-par {
  margin-right: 120px;
}
.social-media-foot {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-foot-list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.social-media-foot-list-content {
  width: 40px;
  height: 40px;
}
.social-foot-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-foot-link:hover,
.social-foot-link:focus {
  background-color: #31d0aa;
}
/* modal */
.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buton-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buton-modal:hover,
.buton-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mod {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mod:hover,
.link-mod:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-mod:hover .parah-mod,
.link-mod:focus .parah-mod {
  transform: translateY(0%);
}
.port-photo {
  position: relative;
  overflow: hidden;
}
.parah-mod {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
